
/***********************************************/
/* 	menu déroulant	horizontale                */
/***********************************************/
.menuh ul li{
	float:left;/* ou right*/
}


/************************************/
/* 	 gestion des dimensions         */
/************************************/

.menuh  li{
	height:33px; /*la hauteur des items horizontaux doit etre définit*/
}

.menuh  ul ul{
	left:0;/*peux etre différent de 0 si on ajoute des bordures*/
	top:33px;  /*la hauteur des items horizontaux (juste au dessus) (attention aux modèle de boite, les padding ainsi que les bordure doivent etre ajouté si définit)*/
}

.menuh  li li{
	width:200px;/*la longueur des items des sous menu doit etre définit*/
}

.menuh  ul ul ul{
	left: 200px;/*la longueur des items des sous menu (juste au dessus) (attention aux modèle de boite, les padding ainsi que les bordure doivent etre ajouté si définit)*/
	top : -1PX;/*peux etre différent de 0 si on ajoute des bordures*/
}


/************************************/
/* 	 gestion du style               */
/************************************/
.menuh{
	position:relative;
	height: 33px;
	padding-left : 20px;
	color : #E0E0E0;
	font-size:16px;
	font-weight:bold;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	background:#3a77c0 url(images/bg.png) repeat-x 0 2px;
}


.menuh li a{
	display:block;
	color:#EAF3F8;
	padding :  0 10px;
	text-decoration:none;
	line-height : 33px;
}

.menuh li:hover,
.menuh li:focus,
.menuh .lihover{
    /*si vous déclarez une classe hover, indiquez une autre construite comme ci-dessous pour etre active aussi lors du delay d'attente avant la fermeture du menu*/
	background:#153e56 url(images/bg.png) repeat-x 0 0px;
}

.menuh li li{
	height : 25px;
	border-top:1px solid #3a77c0;
	border-bottom:1px solid #3a77c0;
	background:#3a77c0 url(images/bg.png) repeat-x 0 0px;
}

.menuh li li a{
	line-height : 25px;
}

.menuh .folder{
	background:transparent url(images/select.png) no-repeat 180px 7px;
}

.menuh li li:hover,
.menuh li li:focus,
.menuh .lilihover{
	/*si vous déclarez une classe hover, indiquez une autre construite comme ci-dessous pour etre active aussi lors du delay d'attente avant la fermeture du menu*/
}