/**********#eeece1       #3c7bc7**************/
*
{
}

body
{
	font-family: Arial, sans-serif;
	font-size: 12pt;
	color: #444;
	background:#fff url(images/bg.png) repeat;
	margin: 0em;
	padding: 0em;
}
#wrap
{
	padding: 0em;
	margin: 0em;
	width: 100%;
}

/*****************************head*********************************/
#header
{
	background: url(images/bgHead.png) repeat-x;
	height: 60px;
	width:100%;
}
#logo
{
	color:#3a77c0;
	height:60px;
	float:left;
	width:55%;
	position:static;
	background:url(images/dgSessionLeft.png) no-repeat;
	background-position:right top;
	/*text-shadow:#000000 0px 1px 1px;*/
	
}

#logo h1
{
	font-size:45px;
	font-weight:bold;
	margin:0 0 0 10px;
	padding:0px;	
	text-shadow:#000000 0px 3px 3px;
}
#logoL
{
    float:left;
    width:auto;
}
#logoR
{
    float:left;
    margin: 10px 0 0 15px;
    width:auto;
    text-align:center;
}
#logo img
{
	border-style:none;
	float:left;
}
#logo b
{
	font-size:16px;
	margin:0 0 0 10px;
	padding:0px;
	color:#000000;
	text-shadow:#3c7bc7 0px 1px 1px;
}
#session
{
	color:#eeece1;
	float:right;
	background:url(images/bgSession.png) repeat-x;
	position:static;
	width:45%;
	height:60px;
	text-align:right;
	text-shadow:#000000 0px 1px 1px;
}
#horloge
{
	float:left;
	width:40%;
	margin-top:5px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	text-shadow:#000000 0px 1px 1px;
}
#horlogeRight
{
	margin-right:4%;
	font-size:14px;
	font-weight: bolder;
	margin-top:5px;
	width:55%;
	float:left;
	text-align:right;
}
#horlogeRight a
{
	color:#eeece1;
	text-decoration:none;
	font-size:12px;
	font-weight:bolder;	
}
#horlogeRight a:hover
{
	color:#eeece1;
	text-decoration:underline;
	font-size:12px;
	font-weight:bolder;
}
/******************************************************************/

/**********************conteneur*****************************/
#content
{
	border:2px solid #3a77c0;
	margin:0 auto;
	padding:5px 5px 5px 5px;
	text-align:left;
	width:98%;
	background:url(images/bgC.png);
	border-radius:5px 5px 5px 5px;
}
#left
{
	float:left;
	width:24%;
	
}
#right
{
	float:right;
	width:75%;
	
}
.formulairePassager
{
    float:left;
	width:500px;
}
.imageVoiture
{
    float:left;
	width:auto;
}
.formulaire
{
	padding:5px 5px 5px 5px;
	margin:0 5px 0 5px;
	border-bottom-width:thin;
	border-bottom-color:#3c7bc7;
	border-bottom-style:solid;
	overflow:auto;
}
.contentFormulaires
{
	padding: 0px;
	margin:0 5px 0 5px;
	border-bottom-width:thin;
	border-bottom-color:#3c7bc7;
	border-bottom-style:solid;
}
.contentFormulairesF
{
    
	
	padding: 0px;
	margin:0 5px 0 5px;
	border-bottom-width:thin;
	border-bottom-color:#3c7bc7;
	border-bottom-style:solid;
}
.information
{
	padding:0 5px 0 5px;
	margin:0 5px 0 5px;
	border-bottom-width:thin;
	border-bottom-color:#3c7bc7;
	border-bottom-style:solid;
}
.grandTitre
{
	background:url(images/bgTitle2.png) repeat-x;
	height:30px;
	width:100%;
	color:#eeece1;
	font-size:16px;
	font-weight:bold;
	padding-top:5px;
	text-shadow:#000000 0px 1px 1px;
	text-align:center;
}



.formContent
{
	margin:0 5px 0 5px;
	padding-bottom:10px;
	border-width:thin;
	border-color:#3c7bc7;
	border-style:solid;
	border-radius:0px 0px 5px 5px;
	background-color:#E1E4BD;
	/*background-color:#FCDCFC;*/
	/*background-color:#DCFFDC;*/
	/*background-color:#FFE6DC;*/
}
.formContent3
{
	margin:0 5px 0 5px;
	padding-bottom:10px;
	border-width:thin;
	border-color:#3c7bc7;
	border-style:solid;
	border-radius:0px 0px 5px 5px;
}

.formContent2
{
	margin:0 5px 0 5px;
	padding-bottom:10px;
	border-width:thin;
	border-color:#3c7bc7;
	border-style:solid;
	border-radius:0px 0px 5px 5px;
	background-color:#eeece1;
	
}
.formContent4
{
    margin: 5px 0 0 0;
	padding: 5px;
	border-width:thin;
	border-color:#3c7bc7;
	border-style:solid;
	border-radius:5px 5px 5px 5px;
	background-color:#eeece1;
}

.formContentTab
{
    font-size: 14px;
    margin:0;
	padding-bottom:10px;
	border-width:thin;
	border-color:#3c7bc7;
	border-style:solid;
	border-radius:5px 5px 5px 5px;
	background-color:#eeece1;
}

.btnClass
{
    background-color:Aqua;
    border-radius:40px 40px 40px 40px;
    text-shadow:0 1px 0 #3c7bc7;
}
#bgCollapseMateriel
{
    background-color:#eeece1;
}
#bgCollapseAgent
{
    /*background:url(images/bgC.png);*/
    background-color:#eeece1;
}
#bgCollapseVoiture
{
    /*background:url(images/bgC.png);*/
    background-color:#eeece1;
}
#bgCollapseChauffeur
{
    /*background:url(images/bgC.png);*/
    background-color:#eeece1;
}

#bgCollapseReceveur
{
    /*background:url(images/bgC.png);*/
    background-color:#eeece1;
}
#bgCollapseControleur
{
    /*background:url(images/bgC.png);*/
    background-color:#eeece1;
}
.divLeft
{
    float:left;
    width:50%;
}
.divRight
{
    float:right;
    width:50%;
}

.btnContent
{
	/*background:url(images/bgC.png);*/
	border-width:thin;
	border-color:#3c7bc7;
	border-style:solid;
}
.titreLeft
{
	background:url(images/bgTitle2.png) repeat-x;
	height:25px;
	width:100%;
	color:#eeece1;
	font-size:14px;
	font-weight:bolder;
	padding-top:5px;
	text-shadow:#000000 0px 1px 1px;
}
.titreLeft a
{
	text-decoration:none;
	color:#eeece1;
}
.titreLeft a:hover
{
	color:#ffffff;
}
.titreTab
{
    text-align:center;
    font-weight:bold;
    border-style:solid;
    border-color:White;
    text-shadow:#ffffff 0px 1px 1px;
}
.tdCadre
{
    font-weight:bold;
    border-style:solid;
    border-color:White;
}

.trVoiture
{
    background:#3c7bc7 url(images/bg.png) repeat;
    padding-bottom:10px;
}
.voitureHead
{
    background:#333333 url(images/bg.png) repeat;
    border-color:Black;
    text-align:center;
    border-radius:40px 40px 0px 0px;
    
}
.voitureFoot
{
    background:#333333 url(images/bg.png) repeat;
    border-color:Black;
    text-align:center;
    border-radius:0px 0px 20px 20px;
    
}
.voitureFootItem
{
    background:#333333 url(images/bg.png) repeat;
    border-color:Black;
    text-align:center;
    color:#eeece1;
	font-size:12px;
	font-weight:bolder;
	text-decoration:none;
	text-shadow:#000000 0px 1px 1px;
}
.divBtn
{
	width:100%;
}
.divBtn a
{
	padding-top:5px;
	padding-left:5px;
	
	display:block;
	text-decoration:none;
	/*color:#eeece1;*/
	color:#444;
	font-size:12px;
	font-weight:bold;
	height:20px;
}
.divBtn a:hover
{
	color:#444;
	background:url(images/bgC.png);
	/*background:url(images/bgB.png);*/
}
.divBtn a.active
{
	color:#444;
	background:url(images/bgC.png);
	/*background:url(images/bgB.png);*/
}
.divListe
{
	padding:5px 5px 5px 5px;
	margin:0 5px 0 5px;
	border-bottom-width:thin;
	border-bottom-color:#3c7bc7;
	border-bottom-style:solid;
    overflow:auto;
}
.article
{
}
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.modalPopup {
	background:#fff url(images/bg.png) repeat;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
.tableNone
{
    display:none;    
}
.tableBloc
{
    display:block;
}

.PanneauVer
{
    padding:5px 5px 5px 5px;
    position : fixed;
    right : 5%;
    top : 300px;
    height : 250px;
    z-index : 20;
    background-color : #F1F1F1;
    border:2px solid #3a77c0;
    background:#fff url(images/bg.png) repeat;
	border-radius:5px 5px 5px 5px;
	box-shadow: 1px 1px 6px #000;
}
.PanneauAction
{
	padding:5px 5px 5px 5px;
    position : fixed;
    left : 5%;
    top : 120px;
    height : auto;
    z-index : 20;
    background-color : #F1F1F1;
    border:2px solid #3a77c0;
    background:#fff url(images/bg.png) repeat;
    
	border-radius:5px 5px 5px 5px;
	box-shadow: 1px 1px 6px #000;
	
}
.PanneauActionRight
{
	padding:5px 5px 5px 5px;
    position : fixed;
    right : 5%;
    top : 120px;
    height : auto;
    z-index : 20;
    background-color : #F1F1F1;
    border:2px solid #3a77c0;
    background:#fff url(images/bg.png) repeat;
	border-radius:5px 5px 5px 5px;
	box-shadow: 1px 1px 6px #000;
}
.panIntern
{
	padding:5px 5px 5px 5px;
	border:2px solid #3a77c0;
	background:url(images/bgC.png);
	border-radius:5px 5px 5px 5px;
	
}

.linkClass
{
    text-decoration:none;
    color:#d4d4d4;
        
}
    /********1 layote********************/
    #OneLayote
    {
	    float:left;
	    width:100%;
    }
    #OneLayoteLeft
    {
        float:left;
	    width:30%;
    }
    #OneLayoteRight
    {
        float:right;
	    width:70%;
    }
    #OneLayoteLeft50
    {
        float:left;
	    width:50%;
    }
    #OneLayoteRight50
    {
        float:right;
	    width:50%;
    }
    #OneLayoteLeft40
    {
        float:left;
	    width:40%;
    }
    #OneLayoteRight60
    {
        float:right;
	    width:60%;
    }
    #OneLayoteFormulaireLeft
    {
        float:left;
	    width:50%;
     }
      #OneLayoteListeRight
    {
        float:right;
	    width:50%;
     }
    /***********************************/
    
/**********************fin conteneurFB*************************/

.ddlStyle
{
    height:50px;
    overflow:auto;
}

/************************vue globale**************************/
.contentDivVoiture
{
    margin:10px;
    width:auto;
    height:auto;
    float:left;    
}
.voitureText
{
    
	color:#eeece1;
	font-size:12px;
	font-weight:bolder;
	text-decoration:none;
	text-shadow:#000000 0px 1px 1px; 
}
/***************************fin vue globaleFB*****************/


/***********************foot*********************************/
#foot
{
	text-align:center;
	font-size:14px;
	margin:0px 0 0 0;
	padding:15px 0 0 0;
	background:url(images/bgFoot.png) repeat-x;
	height:50px;
	width:100%;
}
/***********************fin foot****************************/
.clear
{
	clear: both;
}

.important
{
    text-shadow:#ffffff 0px 1px 1px;
}
/**************************asp and ajax***********************/
.titreLG
{
	width:100%;
	height:20px;
	background-image: url(images/bgCollaps.png);
	background-repeat:repeat;
	color:#000000;
	font-weight:bold;
	text-align:center;
	padding-top:4px;
	text-shadow:#3c7bc7 0px 1px 1px;
}

.collapsePanelHeader
{
	width:100%;
	height:20px;
	background-image: url(images/bgTitreLGUS.png);
	background-repeat:repeat;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	padding-top:4px;
	text-shadow:#000000 0px 1px 1px;
}

.divCollapse
{
	width:auto;
	margin:0 10px 0 10px;
	border-width:thin;
	border-color:#3c7bc7;
	border-style:solid;
}

/*****************popus**********************/
.modalPopup {
	background:#fff url(images/bg.gif) repeat;
	border-width:3px;
	border-style:solid;
	border-color:#3a77c0;
	padding:3px;
	width:400px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
/********************************************/

/*AutoComplete flyout */

.autocomplete_completionListElement 
{  
    visibility:hidden;
	margin : 0px!important;
	background-color : inherit;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left;
    list-style-type : none;
}

/* AutoComplete item */
.autocomplete_listItem 
{
	background-color : window;
	color : windowtext;
	padding : 1px;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem
{
	background-color: #ffff99;
	color: black;
	padding: 1px;
}

.tableImgVoiture
{
    background:url(images/bg.gif) repeat;
}

.divBubble
{
    color:White;    
}


.divIndicationClass
{
    margin:10px;
}

   /*****************************************************************************/
	/* Menu                                                                      */
	/*****************************************************************************/
		
		.menu-top {
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 15px solid #2678a8;
			margin-bottom: 0;
		}
		
		.menu {
			background: #2f93cd url(images/bg.png);
			padding: 0 20px;
			margin-top: 0!important;
			font-family: 'Orbitron', sans-serif;
		}
		
			#menu a {
				color: #FFF;
				text-decoration: none;
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.30);
				display: block;
				padding: 20px 0;
				font-size: 16px;
				text-transform: lowercase;
			}
		
			#menu li {
				display: inline-block;
				padding: 0 20px;
			}
		
			#menu > li.active {
				background: #2678a8 url(images/bg.png);
				color: #fff;
			}
			
			.dropotron li.opener {
				
			}

			.dropotron {
				width: 180px;
				padding: 5px 10px;
				background: #2678a8 url(images/bg.png);
				color: #fff;
				list-style: none;
				font-family: 'Orbitron', sans-serif;
			}

			.dropotron a {
				color: #FFF;
				text-decoration: none;
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.30);
				text-transform: lowercase;
			}

			.dropotron li {
				padding: 10px;
				margin: 0;
				border-bottom: 1px solid  rgba(0, 0, 0, 0.10);
				box-shadow: 0 1px 0 0  rgba(255, 255, 255, 0.10);
			}
			
			.dropotron li:last-child {
				border: none;
				box-shadow: none;
			}
			
			.dropotron li:hover, .dropotron li.active {
				background: #2678a8;
			}	
			
			
			
			/*  Context menu NG */

.menu_main
{
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 8pt;
	border: 1px solid gray;
	background-color: white;	
	padding: 0px;
	cursor: default;
	background-image: url('menu_default/bg3white.png');
	background-repeat: repeat-y;
}

/* title */
.menu_title
{
	background-color: #f2f2f2;
	border-bottom: 1px solid gray;
	padding: 4px 4px 4px 37px;
}

.menu_main a {
	padding-left: 35px;
	color: black;
	text-decoration: none;
	cursor: default;
}

.menu_main a img 
{
	margin-left: 6px;
	margin-top: 2px;
}

.menu_main a span 
{
	display: block;
	height: 20px;
	line-height: 20px;
	width: 150px; 
	overflow:hidden;
	padding-left: 2px;
	padding-right: 20px;
}

.menu_main a:hover {
	background-image: url('menu_default/left.png');
	background-repeat: no-repeat;	
	xbackground-position: 0% 100%;
}

.menu_main a:hover span {
	background-image: url('menu_default/right.png');
	background-repeat: no-repeat;	
	background-position: 100%;
}

.menu_main div div  /* separator */
{
	border-top: 1px solid #dddddd;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 28px;
}


/*********************MENU CIRCULAIRE***********************************/
#contentMenu
{
    width:100%;
    height:500px;    
}
#menuC
{
margin-top:200px;
margin-left:0px;
 width: 100%;
 /*background-color: #FFFF99; 
 border: 1px solid #000000;*/
}
 
#menuC h2
{
 color: #0000EE;
 text-align: left;
 font-size: 15px;
}

#menuC li
{
 list-style-type: none;
 list-style-position: inside;
}

#centreC
{
 height: 10px;
 width: 10px;
 margin: auto;
 border: 2px solid #ff0000;
}

.itemC
{
 position: absolute;
 margin: auto;
 border: 2px solid #ff0000;
}
/*******************************************#BBBBBB;**************************/